$purple: #9356DC;
$pink: #FF79DA;
$turquoise: #99E2D0;
$gradient-purple:linear-gradient($purple, $pink);
$anim-dur: 700ms;
$anim-delay: 1700ms;
$plat-delay: $anim-dur + $anim-delay;
$dessert-delay: $plat-delay + $anim-dur;

header {
    box-shadow: none;
        .arrow-back {
            color: #353535;
            font-size: 25px;
            position: absolute;
            left: 3%;
        }
}

main {
    img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
    .menu {
        background-color: #F6F6F6;
        border-radius: 30px 30px 0px 0px;
        position: relative;
        bottom: 50px;
        padding-left: 10px;
        .menu-content {
            padding: 15px;
            .menu-content-titre {
                display: flex;
                gap: 38px;
                align-items: center;
                justify-content: center;
            }
            .coeur {
                position: relative;
                right: 30px;
            }
            .title {
                padding-bottom: 15px;
            }
            .fa-heart {
                position: absolute;
                top: -20px;
                font-size: 25px;
            }
            .menu-subtitle {
                font-weight: 300;
                font-size: 16px;
                border-bottom: 3px solid $turquoise ;
                width: 40px;
                padding-bottom: 5px;
            }
            .menu-plats {
                padding-top: 15px;
                display: flex;
                flex-direction: column;
                padding-bottom: 20px;
                gap: 12px;
                .btn {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 10px;
                    position: relative;
                    overflow: hidden;
                    &:hover {
                        & > .price-select {
                            transform: translateX(0);
                        }
                    }
                    .text-descriptif {
                        width: 60%;
                        .plats-title {
                        font-weight: 500;
                        font-size: 18px;
                        padding-bottom: 3px;
                        margin: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        }   
                        .plats-subtitle {
                        font-weight: 300;
                        font-size: 15px;
                        margin: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        }
                    }
                    .price-select {
                        display: flex;
                        align-items: flex-end;
                        gap: 15px;
                        height: 100%;
                        transform: translateX(calc(50% + 15px));
                        transition: all 300ms ease-out;
                        .select-btn {
                            width: 60px;
                            height: 100%;
                            background-color: $turquoise;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            border-radius: 0px 15px 15px 0px;
                            i {
                                font-size: 25px;
                            }
                        }
                    }
                }        
            }
        }
    }
}

.bouton {
    margin-top: 30px;
}

@keyframes apparition {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

.entrees {
    animation: apparition $anim-dur $anim-delay;
    animation-fill-mode: backwards;
}

.plats {
    animation: apparition $anim-dur $plat-delay;
    animation-fill-mode: backwards;
}

.desserts {
    animation: apparition $anim-dur $dessert-delay;
    animation-fill-mode: backwards;
}


// Responsive Desktop
@media (min-width: 1024px) {
    .menu-responsive {
        display: flex;
        justify-content: center;
        .menu {
        width: 75%;
        }
    }
}