// header
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0px 2px 4px 0px #00000026;
    height: 4em;
    position: relative;
    z-index: 2;
}

.go-back {
    position: absolute;
    left: 3em;
    color: #353535;
    width: 30px;
    height: 30px;
    display: none;
}

// location
.location {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 3em;
    position: relative;
    z-index: 1;
}

.fa-location-dot {
    color: #353535;
}

// presentation
.presentation {
    text-align: center;
}

.presentation h1 {
    font-weight: 700;
    font-size: 24px;
}

.presentation p {
    font-weight: 300;
    font-size: 18px;
}
