$purple: #9356DC;
$pink: #FF79DA;
$turquoise: #99E2D0;
$gradient-purple:linear-gradient($purple, $pink);

header {
    box-shadow: none;
        .arrow-back {
            color: #353535;
            font-size: 25px;
            position: absolute;
            left: 3%;
        }
}

main {
    img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
    .menu {
        background-color: #F6F6F6;
        border-radius: 30px 30px 0px 0px;
        position: relative;
        bottom: 50px;
        padding-left: 10px;
        .menu-content {
            padding: 15px;
            .title {
                padding-bottom: 15px;
            }
            .fa-heart {
                position: absolute;
                right: 40px;
                top: 23px;
            }
            .menu-subtitle {
                font-weight: 300;
                font-size: 16px;
                border-bottom: 3px solid $turquoise ;
                width: 40px;
                padding-bottom: 5px;
            }
            .menu-plats {
                padding-top: 15px;
                display: flex;
                flex-direction: column;
                padding-bottom: 20px;
                gap: 12px;
                .btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-left: 10px;
                    position: relative;
                    &:hover {
                        & > .price-select {
                            & > .select-btn {
                                transform: scaleX(1);
                            }
                            & > .price {
                                transform: translateX(0);
                            }
                        }
                    }
                    .text-descriptif {
                        width: 60%;
                        .plats-title {
                        font-weight: 500;
                        font-size: 18px;
                        padding-bottom: 3px;
                        margin: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        }   
                        .plats-subtitle {
                        font-weight: 300;
                        font-size: 15px;
                        margin: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        }
                    }
                    .price-select {
                        display: flex;
                        align-items: flex-end;
                        gap: 15px;
                        height: 100%;
                        .price {
                            transform: translate(100%);
                            transition: all 300ms ease-out;
                        }
                        .select-btn {
                            width: 60px;
                            height: 100%;
                            background-color: $turquoise;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            border-radius: 0px 15px 15px 0px;
                            transform: scaleX(0);
                            transform-origin: right;
                            transition: all 300ms ease-out;
                            i {
                                font-size: 25px;
                            }
                        }
                    }
                }        
            }
        }
    }
}

.bouton {
    margin-top: 30px;
}


// Responsive Desktop
@media (min-width: 1024px) {
    .menu-responsive {
        display: flex;
        justify-content: center;
        .menu {
        width: 75%;
        }
    }
}