$purple: #9356DC;
$pink: #FF79DA;
$turquoise: #99E2D0;

// location
.location {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 3em;
}
.fa-location-dot {
    color: #353535;
}

.presentation {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    p {
        padding-bottom: 15px;
    }
}

.fonctionnement {
    padding-bottom: 60px;
    background-color: white;
    .titre-section {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15px;
    }
    .menu{
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 20px;
    }
    .btn {
        width: 90%;
        display: flex;
        gap: 15px;
        position: relative;
    }
    .fa-solid {
        color: #7E7E7E;
    }
    .fa-store {
        color: $purple;
    }
    .rond{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        background-color: $purple;
        color: white;
        position: absolute;
        left: -10px;
    }
}

.restaurants {
    padding: 15px;
    margin-bottom: 60px;
    .restaurants-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        .card {
            background-color: white;
            border-radius: 15px;
            box-shadow: 0px 4px 15px 0px #0000001A;
            height: 251px;
            position: relative;
            img {
                object-fit: cover;
                height: 75%;
                width: 100%;
                border-radius: 15px 15px 0px 0px;
            }
            .card-title {
                font-size: 18px;
                margin-top: 8px;
                margin-bottom: 3px;
                padding-left: 10px;
            }
            .card-subtitle {
                font-weight: 300;
                font-size: 17px;
                margin: 0;
                padding-left: 10px;
            }
            .fa-heart {
                position: absolute;
                font-size: 20px;
                right: 15px;
                bottom: 18px;
                width: 22px;
                height: 22px;
            }
            .new {
                width: 80px;
                height: 29px;
                background-color: $turquoise;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #008766;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
}


// Responsive Desktop
@media (min-width: 1024px) {
    .fonctionnement,
    .restaurants {
        padding: 50px 180px 50px 180px;
    }

    .fonctionnement {
        .menu {
            display: flex;
            flex-direction: row;
        }
    }

    .restaurants {
        .restaurants-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
            a {
            width: 48%;
            }
        }
    }
}